@import "styles/commons/mixins";

.button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  min-width: 193px;
  line-height: 17px;
  font-weight: 700;
  font-family: var(--font-family-heading);
  padding: 16px 24px;
  border-radius: 100px;
  border: 1px solid;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 350ms ease;

  &-primary {
    &-blue {
      background: var(--primary);
      color: var(--blue-secondary);
      border-color: var(--primary);

      &:hover {
        opacity: 0.8;
        box-shadow: 1px 1px 18px 0px rgba(136, 136, 136, 0.6);
      }
    }
  }

  &-secondary {
    &-blue {
      background: transparent;
      color: var(--primary);
      border-color: var(--primary);

      &:hover {
        color: var(--base);
        background: var(--primary);
        box-shadow: 1px 1px 18px 0px rgba(136, 136, 136, 0.6);
      }
    }
    &-orange {
      background: transparent;
      color: var(--orange-secondary);
      border-color: var(--orange-secondary);

      &:hover {
        color: var(--base);
        background: var(--orange-secondary);
        box-shadow: 1px 1px 18px 0px rgba(136, 136, 136, 0.6);
      }
    }
  }
}

@include desktop {
  .button {
    font-size: 24px;
    line-height: 32px;
    min-width: 400px;
  }
}
