:root {
  //Brand
  --primary: #00aaa0;
  --blue-secondary: #080d34;
  --orange-secondary: #ff4a3e;

  //Text & Background
  --base: #ffffff;
  --grayscale-1: #eaebf1;
  --grayscale-2: #ebece6;
  --grayscale-3: #bdbdc2;
  --grayscale-4: #bfbfb8;
  --grayscale-5: #6e6d6a;
}