@import "styles/commons/mixins";

.highlightTitle {
  position: relative;
  font-size: 20px;
  line-height: 22px;
  padding: 14px;
  text-transform: uppercase;

  &::before {
    content: attr(data-before);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    line-height: 50px;
    color: var(--grayscale-4);
    opacity: 0.6;
    z-index: -1;
  }
}

@include desktop {
  .highlightTitle {
    font-size: 33px;
    line-height: 44px;
    padding: 9px 24px;
  
    &::before {
      font-size: 100px;
      line-height: 50px;
    }
  }
}