@import "styles/commons/mixins";

.hero {
  position: relative;
  padding-top: 64px;
  width: 100%;

  .title,
  .contentWrapper,
  .logoWrapper {
    position: relative;
    z-index: 1;
  }

  .logoWrapper {
    position: relative;
    width: 108px;
    height: 41px;
    margin-bottom: 37px;
  }

  .title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 64px;

    span {
      display: block;
      font-weight: 700;
    }
  }

  .contentWrapper {
    box-sizing: border-box;
    width: calc(100% - (var(--container-margin) * 2));
    max-width: 364px;
    margin: 0 auto;
    background-color: #eaebf1cc;
    border-radius: 4px 4px 0 0;
    padding: 22px 16px;

    .infoWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      margin-bottom: 44px;

      .info {
        font-family: var(--font-family-heading);
        font-size: 14px;

        .infoTitle {
          font-weight: 700;
          margin-bottom: 5px;
          display: inline-block;

          &::after {
            content: "";
            display: block;
            margin-top: 5px;
            width: 100%;
            height: 2px;
            background-color: var(--orange-secondary);
          }
        }
      }
    }

    .buttonWrapper {
      text-align: center;
    }
  }
}

@include mobile {
  .hero {
    .contentWrapper {
      .infoWrapper {
        .info {
          font-size: 16px;
        }
      }
    }
  }
}

@include desktop {
  .hero {
    padding-top: 58px;

    .logoWrapper {
      width: 176px;
      height: 68px;
    }

    .title {
      max-width: 716px;
      font-size: 37px;
      margin-bottom: 82px;
      line-height: 60px;

      span {
        font-size: 48px;
        line-height: 56px;
      }
    }

    .contentWrapper {
      width: 100%;
      max-width: initial;
      margin: 0;
      border-radius: 0;
      padding: 32px var(--container-margin) 24px;

      .infoWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 96px;
        margin-bottom: 32px;

        .info {
          .infoTitle {
            font-size: 24px;
          }

          .infoDescription {
            font-size: 20px;
          }
        }
      }
    }
  }
}
