@import "styles/commons/mixins";

.hoverPillarsBox {
  position: relative;
  padding: 28px 0;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 204px;
    top: 0;
    left: 0;
    background-color: var(--grayscale-2);
    z-index: -1;
  }

  .gridWrapper {
    margin: 0 calc(-1 * var(--container-margin));

    .contentWrapper {
      .description {
        display: none;
      }
    }

    .pillars {
      .pillar {
        color: var(--base);
        position: relative;

        .pillarImage {
          z-index: -1;
        }

        .pillarContent {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 26px var(--container-margin);
          background-color: rgba(0, 0, 0, 0.65);

          .pillarTitle {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 20px;
          }

          .pillarDescription {
            padding-top: 4px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@include desktop {
  .hoverPillarsBox {
    padding: 58px 0;

    .gridWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 136px;
      margin: 0;

      .contentWrapper {
        padding-top: 84px;

        .title {
          div {
            margin: 0;
          }

          &::before {
            display: none;
          }
        }

        .description {
          display: block;
        }
      }

      .pillars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .pillar {
          height: 312px;
          transition: all 350ms ease;

          .pillarContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px 5px;
            background-color: rgba(0, 0, 0, 0.3);
            transition: background-color 200ms linear;

            .pillarTitle {
              text-align: center;
              font-size: 20px;
              line-height: 32px;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .pillarDescription {
              padding: 8px 24px 0;
              max-height: 0;
              opacity: 0;
              overflow: hidden;
              text-align: center;
              transition: all 500ms ease;
            }
          }

          &:hover {
            .pillarContent {
              background-color: rgba(0, 0, 0, 0.65);

              .pillarDescription {
                opacity: 1;
                max-height: 312px;
              }
            }
          }
        }
      }
    }
  }
}
