@import "styles/commons/mixins";

.faq {
  position: relative;
  padding: 28px 0 56px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 54px);
    background-color: var(--grayscale-2);
    z-index: -1;
  }

  .title {
    margin-bottom: 0;
  }
}


@include desktop {
    .faq {
        padding: 58px 0;
      
        &::before {
          height: calc(100% - 116px);
        }
      
        .title {
          margin-bottom: 21px;
        }
      }
}