@import "styles/commons/mixins";

.richText {
  font-size: 16px;
  line-height: 22px;

  p:not(:last-child),
  ul:not(:last-child) {
    margin-bottom: 16px;
  }

  ul {
    padding-left: 20px;
    list-style-type: disc;

    li {
      margin-bottom: 6px;
    }
  }

  a{
    text-decoration: underline;
    color: var(--grayscale-5);

    &:hover {
      color: var(--primary);
    }
  }
}

@include desktop {
  .richText {
    font-size: 18px;
    line-height: 24px;

    p:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
